//============================
// BUTTONS
//============================

//------------------
// Primary Buttons
//------------------
.button {
  font-size: 2rem;
  background-color: none;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 250ms;
  cursor: pointer;
}

//--------------
// Close Buttons
//--------------
.close-button {
  &:hover,
  &:focus {
    fill: var(--color-magenta);
    background-color: var(--color-white);

    span {
      color: var(--color-magenta);
    }
  }
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  margin: 0;

  button {
    background-color: #8fd129;
    border: 0.6rem solid black;
    color: white;
    border-radius: 1rem;
    font-size: 2.6rem;
    font-weight: bold;
    margin: 1rem;

    &:hover,
    &:focus {
      background-color: darken(#8fd129, 15%);
    }
    &:active {
      background-color: darken(#8fd129, 35%);
    }
  }
}

.remove-button {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  padding: 1rem;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: green;
    text-decoration: underline;
  }
}

.add-remove-button {
  width: 1.75rem;
  height: 1.75rem;
}

.villain-add-remove-button {
  background-color: var(--color-button-green);
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 2.6rem;
  font-weight: bold;
  margin: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken(#8fd129, 15%);
  }
  &:active {
    background-color: darken(#8fd129, 35%);
  }
}

.hero-add-remove-button {
  background-color: #8fd129;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 2.6rem;
  font-weight: bold;
  margin: 0.5rem;

  &:hover,
  &:focus {
    background-color: darken(#8fd129, 15%);
  }
  &:active {
    background-color: darken(#8fd129, 35%);
  }
}
