button,
.button {
  font-size: 2rem;
  background-color: var(--color-magenta);
  color: var(--color-white);
  border-radius: 10px;
  border: .1rem solid var(--color-black);
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: var(--font-kollektif);
  transition: all 250ms;
  cursor: pointer;

  &:hover,
  &:focus {
  background-color: var(--color-magentadark);
  }
}

.close-button {
  &:hover,
  &:focus {
    fill: var(--color-magenta);
    background-color: var(--color-white);

    span {
      color: var(--color-magenta);
    }
  }
}
