//============================
// BUTTONS
//============================

//------------------
// Primary Buttons
//------------------
.button {
  font-size: 2rem;
  background-color: none;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  // font-family: var(--font-oswald);
  transition: all 250ms;
  cursor: pointer;
}

//--------------
// Close Buttons
//--------------
.close-button {
  &:hover,
  &:focus {
    fill: var(--color-magenta);
    background-color: var(--color-white);

    span {
      color: var(--color-magenta);
    }
  }
}
