//==================
// ANIMATIONS
//==================

@keyframes drop-in-mobile {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes drop-in-desktop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes pop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-list-items {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes split-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes split-in2 {
  to {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes frame-draw {
  to {
    transform: scaleY(1);
  }
}

@keyframes frame-draw2 {
  to {
    transform: scaleX(1);
  }
}

@keyframes background-in {
  to {
    background-color: var(--color-pale-yellow);
  }
}

@keyframes gridDropIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gridSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
