@keyframes drop-in-mobile {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes drop-in-desktop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes pop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-list-items {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes split-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes split-in2 {
  to {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes left-out {
  to {
    transform: translateX(-110%);
  }
}

@keyframes right-out {
  to {
    transform: translateX(110%);
  }
}

@keyframes frame-draw {
  to {
    transform: scaleY(1);
  }
}

@keyframes frame-draw2 {
  to {
    transform: scaleX(1);
  }
}

@keyframes background-in {
  to {
    background-color: var(--color-pale-yellow);
  }
}
