.split-page {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100%;

  @media screen and (min-width: 1020px) {
    grid-template-columns: 1.5fr 2fr;
  }

  .home-active & {

    height: 100%;
    overflow: visible;

    @media screen and (min-width: 1020px) {
      height: 100%;
      overflow: hidden;
    }

    .site-title,
    .word-spinner {

      @media screen and (min-width: 1020px) {
        height: 50%;
      }
    }
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  transform: translateX(-25%);
  text-align: center;
  height: 100%;
  animation: split-in 750ms ease-in forwards;
  opacity: 0;
}

.page-title {
  padding: 0 2rem;
  margin: 0;
}

.page-detail-wrapper {
  opacity: 0;
  animation: fade-in 750ms ease-in forwards;
  animation-delay: 750ms;

  &::before {

    @media screen and (min-width: 920px) {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: .2rem;
      height: 100%;
      background-color: var(--color-black);
      transform: scaleY(0);
      transform-origin: top;
      z-index: 2;
    }
  }

  .active & {
    &::before {
      animation: frame-draw 500ms linear forwards;
      animation-delay: 1000ms;
    }
  }
}

.page-detail {
  padding: 2.5rem;

  .three-active & {
    padding: 0;
  }
}
