.split-page {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;

  @media screen and (min-width: 920px) {
    grid-template-columns: 1.5fr 2fr;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  transform: translateX(-50%);
  text-align: center;
  height: 100%;
  animation: split-in 750ms ease-in forwards;
  opacity: 0;
}

.page-title {
  margin: 0;
}

.page-detail-wrapper {
  opacity: 0;
  animation: fade-in 750ms ease-in forwards;
  animation-delay: 750ms;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: .2rem;
    height: 100%;
    background-color: var(--color-black);
    transform: scaleY(0);
    transform-origin: top;
    z-index: 2;
  }

  .active & {
    &::before {
      animation: frame-draw 500ms linear forwards;
      animation-delay: 2000ms;
    }
  }
}

.page-detail {
  padding: 2.5rem;

  .three-active & {
    padding: 0;
  }
}
