.project-panels {
  position: absolute;
  top: 0;
  border-left: .1rem solid var(--color-black);
  box-shadow: -5px 0px 8px -1px rgba(0,0,0,0.75);
  width: 100vw;
  height: 100%;
  transform: translateX(110%);
  transition: transform 1000ms;
  background-color: var(--color-white);
  overflow: hidden;
  z-index: 9;

  &.active {
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(0);
  }
}

.project-panels::after {
  content: '';
  position: absolute;
  right: 0;
  top: 5.5rem;
  display: none;
  width: 50%;
  min-height: 100%;
  background-color: var(--color-dark-grey);
  z-index: 1;

  @media screen and (min-width: 728px) {
    display: block;
  }
}

.panel-container {
  z-index: 2;
}

.row-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 728px) {
    flex-direction: row;
  }
}

.panel-featured-image {
  padding-top: 0;
  /* min-height: 26rem; */

  @media screen and (min-width: 728px) {
    width: 85%;
  }
}

.panel-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;

  @media screen and (min-width: 728px) {
    margin: 0;
    padding: 5rem 5rem 2.5rem;
    width: 50%;
  }
}

.logo-wrapper {
  margin-top: 5rem;
  width: 10rem;
}

.panel-title {
  margin: 0;
  font-size: 5.5rem;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -15rem;
    bottom: -1rem;
    width: 50vw;
    height: .2rem;
    transform: scaleX(0);
    transform-origin: left;
    border-top: .3rem solid black;
    animation: frame-draw2 500ms linear forwards;
    animation-delay: 1500ms;

    @media screen and (min-width: 1020px) {
      left: -25rem;
      width: 30vw;
    }
  }
}

.link-wrapper {
  display: block;
}

.live-link {
  display: inline-block;
  padding-top: 2.5rem;
  color: var(--color-yellow);
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-white);
    text-decoration: underline;
  }
}

.panel-content,
.description {
  padding: 0 2.5rem 5rem;
  max-width: 80rem;
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
  font-size: 1.8rem;
  line-height: 1.5;

  @media screen and (min-width: 728px) {
    margin-right: 0;
    width: 50%;
    font-size: 2.2rem;
    background-color: transparent;
  }
}

.split-image {
  display: block;
  padding-top: 5rem;
}

.tools-wrapper {
  margin-top: -2rem;
  padding: 2.5rem 0;
  background-color: var(--color-dark-grey);

  @media screen and (min-width: 1020px) {
    padding: 10rem 0;
  }
}

.tools-headline {
  text-align: center;
  color: var(--color-white);
  margin: 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: .2rem;
    background-color: var(--color-white);
  }
}

.tools {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2.5rem 2.5rem 0;
  color: var(--color-white);
  list-style: none;
  text-align: center;

  @media screen and (min-width: 728px) {
    flex-direction: row;
  }

  li {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 600;

    @media screen and (min-width: 728px) {
      margin-bottom: 0;
      font-size: inherit;
    }
  }
}

.content-two {
  padding: 0 2.5rem;
  margin: 0;
  color: var(--color-white);
  max-width: 80rem;
  margin: 0 auto;
  @media screen and (min-width: 728px) {
    margin-top: 5rem;
  }
}
