* {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  background-color: #000;
}

:root {
  --font-rubik: 'rubik', sans-serif;
  --font-karla: 'karla', sans-serif;
  --font-opensans: 'opensans', sans-serif;

  @include font-smoothing;
  font-family: var(--font-karla);
}
img {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  color: var(--color-black);
  background-color: var(--color-white);

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}

a:hover,
a:focus {
  color: var(--color-magenta);
}
