* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
}

html { font-size: 62.5%; }
body { font-size: 2rem; }

body {
  --font-kollektif: 'kollektif', sans-serif;
  --font-montserrat: 'montserrat', sans-serif;
  --font-norwester: 'norwester', sans-serif;
  @include font-smoothing;
  font-family: var(--font-montserrat);
}
img {
  width: 100%;
}

.nuxt-link-active {
  color: var(--color-black);
  background-color: var(--color-white);
}

.container {
  width: 100vw;
  height: 100vh;
  padding-top: 14rem;
  color: var(--color-black);
  background-color: var(--color-white);

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}

a:hover,
a:focus {
  color: var(--color-magenta)
}
