body {
  --color-main-bg: #EEEFE5;
  --color-main-text: #483c46;
  --color-black: #000;
  --color-white: #fff;
  --color-yellow: #e8d181;
  --color-orange: #d36b00;
  --color-grey: #B0B0B0;
  --color-magenta: #8B008B;
  --color-magentadark: #4F2F4F;

  --light-glow: 4px 25px 67px 25px rgba(255,215,0,0.77);

  --block: 2.5rem;

  --mq-tiny: 0;
  --mq-mini: 480px;
  --mq-small: 600px;
  --mq-medium: 768px;
  --mq-large: 1020px;
  --mq-xlarge: 1230px;
  --mq-xxlarge: 1320px;
  --mq-xxxlarge: 1640px;
}
